@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code 
{
    private void Funcion()
    {
        Padre padre = new Padre();
        HijaA hijaA = new HijaA();
        HijaB hijaB = new HijaB();
    
        //No me visto para las mujeres, no me visto para los hombres, SOLO ME VISTO PARA LA VENGANZA
    }
}
