@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

@code 
{
    private void Funcion()
    {
        Persona padre = new Persona();
        Colegiado hijaA = new Colegiado();
        Catedratico hijaB = new Catedratico();


      //Angel weco
    }
}
